
/*按钮*/
.cat-btn{
    background-color: #594c3e;
    color: #ffffff;
}
.cat-btn:hover{
    background-color: #473c31;
    color: #ffffff;
}

/*导航条*/
#cat-nav{
    color: #594c3e;
    border-bottom: 5px solid #594c3e;
    height: 65px;
}

#cat-nav .active > a {
    color: #ffffff;
    background-color: #594c3e;
    border-radius: 4px;
    height: 40px;
}

#cat-nav li > a {
    width: 90px;
    font-size: 16px;
    text-align: center;
    color: #594c3e;
    padding: 10px 17px;
    margin-top: 10px;
}

#cat-nav li > a:hover{
    border-radius: 4px;
    color: #ffffff;
    background-color: #594c3e;
}

/*巨幕*/
#home-slider {
    position: relative;
}
#home-slider .image1 {
    text-align: right;
    padding-top: 100px;
    padding-right: 200px;
    height: 500px;
    background: url("image/cat1.jpg") no-repeat;
    background-size: 100% 120%;
    border-bottom: 3px solid #594c3e;
}
.image1 > a {
    position: relative;
    top: 200px;
}
#home-slider .cat-btn-left, #home-slider .cat-btn-right {
    position: absolute;
    top:50%;
    margin-top: -50px;
    font-size: 36px;
    border-radius: 4px;
    border: 1px solid #594c3e;
    color: #594c3e;
    background-color: rgba(89, 76, 62, 0.3);
}
#home-slider .cat-btn-right {
    right: 0px;
}
#home-slider .cat-btn-left button, #home-slider .cat-btn-right button {
    color: #594c3e;
    background-color: transparent;
    height: 100px;
}
#home-slider .cat-btn-left:hover, #home-slider .cat-btn-right:hover {
    background-color: transparent;
    border-color: transparent;
    color: #594c3e;
}
#home-slider .cat-slider {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: 10px;
}
#home-slider .cat-slider ol {
    padding: 0;
}
#home-slider .cat-slider li {
    padding: 5px;
    display: inline-block;
    list-style-type: none;
}
#home-slider .cat-slider li:hover {
    opacity: 0.5;
}

    /*缩略图*/
#cat-thumbnail{
    width: 80%;
    text-align: center;
}
#cat-thumbnail img {
    height: 250px;
}

/*标题*/
.heading-title{
    text-align: center;
}

/*logo*/
.logo{
    position: fixed;
    margin-top: -50px;
    left: 45%;
    width: 180px;
    height: 180px;
    background: url("image/logo.png") -55px 15px;
    background-size: 160%;
    border-radius: 100%;
    border-bottom: 5px solid #594c3e;
}

/*.navbar{*/
    /*border-bottom: 5px solid #594c3e;*/
    /*height: 65px;*/
/*}*/

/*.navbar-default .navbar-nav > .active > a,*/
/*.navbar-default .navbar-nav > .active > a:hover,*/
/*.navbar-default .navbar-nav > .active > a:focus {*/
    /*color: #ffffff;*/
    /*background-color: #594c3e;*/
    /*border-radius: 4px;*/
    /*height: 40px;*/
/*}*/

/*.navbar-default .navbar-nav > li > a {*/
    /*width: 90px;*/
    /*font-size: 16px;*/
    /*text-align: center;*/
    /*color: #594c3e;*/
    /*padding: 10px 17px;*/
    /*margin-top: 10px;*/
/*}*/

/*.bkg1 {*/
    /*text-align: right;*/
    /*padding-top: 100px;*/
    /*padding-right: 200px;*/
    /*height: 500px;*/
    /*background: url("image/cat1.jpg") no-repeat;*/
    /*background-size: 100% 120%;*/
/*}*/

/*.bkg1 > a {*/
    /*position: relative;*/
    /*top: 200px;*/
/*}*/

/*#favorites{*/
    /*width: 80%;*/
/*}*/

/*.heading-title{*/
    /*text-align: center;*/
/*}*/

/*.thumbnail img{*/
    /*width: 200px;*/
    /*height: 200px;*/
/*}*/